 p{
    color: rgb(255, 77, 0);
    background-color: rgb(255, 255, 255);
    
    
}
.d{
    color: red;
    background-color:hsl(100, 94%, 66%);
}
#f{
    border: 2px solid black;
    font-size: 25px;
}

.container {
    width: 200px;
    height: 100px;
    background-color: lime;
    padding: 10px;
    border: 1px solid black;
    margin: auto;

}
div{
    display: inline-block;
    color: purple;
    width: 1500px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    margin: auto;


    
}
.box1{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
    margin: 25px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px dotted black;

    margin: 30px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px double black;
    margin: 10px;
}
.box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: 2px groove black;
    margin: 0px 10px 0px 700px;
    padding: 30px;
}
